:root {
    --color-bg-header: #f8f9fb;
    --color-text-logo: #8e8e8e;
    --color-text-placeholder: #a4a3a8;
    --color-bg-main: #e7ebee;
    --color-text-main: #262a2d;
    --color-text-white: #f8f9fb; 
}

.container {
    width: 1000px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}