#root {
  margin: 0 auto;
  padding: 40px;
  min-height: 80vh;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  background-color: #dedede;
}

.container {
  background-color: #fff;
}